*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

h1{
     font-size: 50px;
     line-height: 64px;
     color: #222;
}

h2{
     font-size: 46px;
     line-height: 54px;
     color: #222;
}

h4{
     font-size: 20px;
     color: #222;
}

h6{
     font-size: 12px;
     font-weight: 700;
}

p{
     font-size: 16px;
     margin: 15px 0px 20px 0px;

}

body{
     width: 100%;
}

.section-p1{
     padding: 20px 80px;
}

.section-m1 {
     margin: 40px 0;
}

button.normal{
     font-size: 14px;
     font-weight: 600;
     padding: 15px 30px;
     color: pink;
     background-color: purple;
     border-radius: 4px;
     cursor: pointer;
     border: none;
     outline: none;
     transition: 0.2s;
}

button.white{
     font-size: 13px;
     font-weight: 600;
     padding: 11px 18px;
     color: purple;
     background-color: transparent;
     cursor:pointer;
     border: 1px solid purple;
     outline: none;
     transition: 0.2s;
}

.logo{
     height: 60px;
}


#header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:wheat;
     padding: 20px 80px 20px 80px;
     position: sticky;
     top: 0;
     z-index: 999;
}

.navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style-type: none;

}

#mobile{
     display: none;
}

.back{
     display: none;
}

.navbar li{
     padding: 0px 20px;
}

.navbar li a{
     text-decoration: none;
     color: black;
     font-size: 16px;
     font-weight: 600;
     position: relative;
}

.navbar li a:hover,.navbar li a.active {
     color: purple;

}

.navbar li a:hover::after{
     content: "";
     width: 60%;
     height: 4px;
     background-color: purple;
     position: absolute;
     bottom: -4px;
     left: 0px;

}

#hero{
     background-image: url(./images/herosectionbg.png);
     background-size:cover;
     background-repeat: no-repeat;
     height: 90vh;
     width: 100%;
     padding: 0px 80px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

}

#hero h4{
     padding-bottom: 15px;
     color: purple;
     font-size: 30px;
}

#hero h2{
     color: purple;
     font-size: 100px;
}

#hero h1{
     color: purple;
}

#hero p {
     color: whitesmoke;
     font-size: 20px;
}

#hero button {
     background: url(./images/pngtree-silk-fabric-satin-texture-background-picture-image_2390474.jpg);
     color: whitesmoke;
     cursor: pointer;
     font-size: 15px;
     font-weight: 900px;
     border: 0;
     padding: 20px 50px 20px 50px;
     background-repeat: no-repeat;
     background-position:cover;
     border-radius: 7%;

}

#feature .fe-box{
     width: 180px;
     padding: 25px 15px;
     text-align: center;
     box-shadow: 20px 20px 24px rgba(0, 0, 0, 0.3);
     border: 1px solid #cce7d0;
     border-radius: 4px;
     margin: 15px 0px;
}

#feature .fe-box:hover{
     box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
     display: inline-block;
     padding: 9px 8px 6px 8px ;
     line-height: 1;
     color: purple;
     border-radius: 4px;
     background-color: pink;
}

#feature .fe-box img{
     width: 150px;
     width: 100%;
     margin-bottom: 10px;
}

#feature{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}

#product1{
     text-align: center;
}

#product1 .pro{
     width: 23%;
     min-width: 250px;
     padding: 10px 12px;
     border-radius: 25px;
     border: 1px solid #cce7d0;
     cursor: pointer;
     box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
     margin: 15px 0;
     transition: 0.2s ease;
     position: relative;
}

#product1 .pro:hover{
     box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8);
}

#product1 .pro img {
     width: 100%;
     border-radius: 20px;
}

#product1 .pro .des{
     text-align: start;
     padding: 10px 0;
}

#product1 .pro .des h5{
     padding-top: 7px;
     font-size: 14px;
}

#product1 .pro .des .star{
     font-size: 25px;
}

#product1 .pro .des h4{
     font-size: 20px;
     padding-top: 7px;
     color: rgb(34, 61, 6);
     font-weight: 700;
}

#product1 .pro button{
     position: absolute;
     right: 10px;
     bottom: 20px;
     width: 30%;
     background-color:rgb(34, 61, 6);
     color: white;
}

#product1 .pro-container{
     display: flex;
     padding-top: 20px;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-between;
}

#banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: url(./images/banner.jpg);
     width: 100%;
     height: 50vh;
     background-size: cover;
     background-position: center;
}

#banner h4{
     color: BLACK;
     font-size: 50px;
}

#banner h2{
     color: BLACK;
     padding: 10px 0;
}

#banner h2 span {
     color: red;
     font-size: 80px;
}

#banner button:hover{
     color: purple;
     background-color: pink;
}

#sm-banner .banner-box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     background-image: url(./images/sm-banner1.avif);
     width: 49%;
     min-width: 580px;
     height: 50vh;
     background-size: cover;
     background-position: center;
     padding: 30px;

}

#sm-banner{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

#sm-banner h4{
     color: purple;
     font-size: 20px;
     font-weight: 900;
}

#sm-banner h2{
     color: purple;
     font-weight: 900;
}

#sm-banner span{
     color: purple;
     font-weight: 900;
     padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
     background-color: rgb(249, 131, 151);
     border: 2px solid red;


}

#sm-banner .banner-box2{
     background-image: url(./images/sm-banner2.avif);
}

#banner3 .banner-box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     background-image: url(./images/banner3.avif);
     min-width: 350px;
     width: 32%;
     height: 30vh;
     background-size: cover;
     background-position: center;
     padding: 20px;
     margin-bottom: 20px;

}

#banner3 h2{
     color: black;
     font-weight: 900;
}

#banner3 h3{
     color: black;
     font-weight: 900;
}

#banner3{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
     

#banner3 .banner2{
     background-image: url(./images/banner4.jpeg);
}

#banner3 .banner3{
     background-image: url(./images/banner5.webp);

}

#newsletter{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
     background-color: #041e42;
}

#newsletter h4{
     font-size: 22px;
     color: #cce7d0;
}

#newsletter p{
     font-size: 14px;
     color: #cce7d0;
}

#newsletter p span{
     color: yellow;
}

#newsletter input{
     height: 3.125rem;
     padding: 0 1.25em;
     font-size:14px ;
     width: 100%;
     border: 1px solid transparent;
     border-radius: 4px;
     outline: none;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     
}

#newsletter button{
     height:3.125rem;
     width:12em ;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

#newsletter .form{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
}

footer{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

footer .col{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
}

footer .logo{
     margin-bottom: 30px;
}

footer h4{
     padding-bottom: 20px;
}

footer p{
     margin:0 0 8px 0;
}

footer a{
     margin:0 0 8px 0;
     text-decoration: none;
     color: black;
     margin-bottom: 10px;
}

footer .follow a img {
     cursor: pointer;

}

footer a:hover{
     color: rgb(234, 7, 234);
}

footer .copyright{
     width: 100%;
     text-align: center;
}



/* Applying Media Query */
@media (max-width:800px) {
     .navbar {
          display: flex;
          flex-direction: column;
          justify-content:flex-start;
          align-items: flex-start;
          list-style-type: none;
          position: fixed;
          top: 0;
          right: -300px;
          width: 300px;
          height: 100%;
          background-color: wheat;
          padding: 80px 0px 0px 10px;
          transition: 0.3s;
      }

      .navbar li {
          margin-bottom: 25px;
      }

      #mobile{
          display: flex;
          cursor: pointer;
     }
     .change{
          right: 0px;
     }

     .back{
          display: flex;
          cursor: pointer;
     }

     #hero {
          height: 70vh;
          padding: 0 80px;
          background-position: top 30% right 30%;
      }

      #feature {
          justify-content: center;
      }

      #feature .fe-box {
          margin: 15px 15px;
      }

      .section-p1 {
          padding: 40px 40px;

      }#product1 .pro-container {
          justify-content: space-evenly;
      }

      #banner {
          
          height: 20vh;
      }

      #sm-banner .banner-box {
          
          min-width: 100%;
          height: 30vh;
         
      }

      #banner3 .banner-box {
          
          min-width: 200px;
          width: 28%;

      }

      #banner3 h2 {
          font-size: 26px;
      }

      #newsletter .form {
          width: 100%;
      }

      #newsletter {
          justify-content: center;
      }
     
      .newstext{
          text-align: center;
      }

}


@media (max-width:477px) {
     #header {
          padding: 20px 20px;
          height: 7vh;
      }

      #hero {
          padding: 0px 20px;
          background-position: 55%;
      }

      h2 {
          font-size: 32px;
      }
     
      h1 {
          font-size: 38px;
      }
     
      #feature .fe-box img{
          width: 100px;
      }
      #feature .fe-box {
          width: 130px;
          margin: 0;
      }
      #feature{
          justify-content: space-evenly;

      }
      .section-p1{
          padding: 20px;
      }
      #product1 .pro {
          width: 100%;
          
      }

      #banner {
          height: 40vh;
      }
      #banner h2 span {
          font-size: 40px;
      }

      #sm-banner .banner-box {
          height: 60vh;
      }

      #sm-banner .banner-box2 {
          margin-top: 20px;
      }

      #banner3 .banner-box {
          width: 100%;
      }
      footer {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          flex-wrap: wrap;
      }
      .paymentmethod{
          width: 250px;
      }
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* shop page styling */


#page-header{
     background-image: url(./images/pngtree-silk-fabric-satin-texture-background-picture-image_2390474.jpg);
     width: 100%;
     background-size: cover;
     height: 40vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 14px;
}

#page-header h2{
     color: wheat;
     font-weight: bolder;
     font-size: 90px;
}

#page-header p{
     color: black;
     font-size: 50px;
     font-weight: bolder;
}

#pagination{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
}

#pagination a{
     padding: 15px 20px;
     background-color: wheat;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     text-decoration: none;
     color: purple;
     margin: 0px 5px;
     border-radius: 5px;
     font-weight: 700;
     
}


#pagination a:nth-last-child(1){
     padding: 0px;
}



