*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

h1{
     font-size: 50px;
     line-height: 64px;
     color: #222;
}

h2{
     font-size: 46px;
     line-height: 54px;
     color: #222;
}

h4{
     font-size: 20px;
     color: #222;
}

h6{
     font-size: 12px;
     font-weight: 700;
}

p{
     font-size: 16px;
     margin: 15px 0px 20px 0px;

}

body{
     width: 100%;
}

.logo{
     height: 4px;
}


#header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:#E3E6F3;
     padding: 20px 80px 20px 80px;
     position: sticky;
     top: 0;
}

.navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style-type: none;

}

.navbar li{
     padding: 0px 20px;
}

.navbar li a{
     text-decoration: none;
     color: black;
     font-size: 16px;
     font-weight: 600;
     position: relative;
}

.navbar li a:hover{
     color: purple;

}

.navbar li a:hover::after{
     content: "";
     width: 60%;
     height: 2px;
     background-color: purple;
     position: absolute;
     bottom: -4px;
     left: 0px;

}

#hero{
     background-image: url(/images/Netflix-background_860c8ece6b34fb4f43af02255ca8f225.jpg);
     height: 90vh;
     width: 100%;
     padding: 0px 80px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

}

#hero h4{
     padding-bottom: 15px;
}

#hero h1{
     color: purple;
}

#hero button {
     background: url(/images/Screenshot\ 2025-01-13\ 161736.png);
     color: purple;
     cursor: pointer;
     font-size: 15px;
     font-weight: 900px;
     border: 0;
     padding: 20px 10px 20px 10px;
     background-repeat: no-repeat;
     /* background: red; */
     background-position:center ;
}